body {
font-family:Verdana, Geneva, Tahoma, sans-serif;
background-color: #f4f7f6;
color: #000000;
margin:0;
padding:0;
text-align:center;
max-width:100%;
overflow-x:hidden;

}
h1 {
color: #fff;
}
.login {
display:flex;
flex-direction:column;
align-items:center;
gap:10px;
margin-bottom: 15px;/
}
.logo {
width:60px;
height:60px;
border-radius:10px;
}
.apresentaçao {
font-size:1.5em;
font-weight:bold;
margin:0;
color: #fff;
}
.barra {
position:absolute;
left:0;
top:0;
width:200px;
height:100vh;
background-color: #004a9e;
display:flex;
flex-direction:column;
justify-content:flex-start; 
padding:20px 25px;
box-shadow:4px 0 10px rgba(0,0,0,0.15);
box-sizing:border-box;
z-index:1000;
}
.barra-nav {
display:flex;
flex-direction:column;
gap: 25px;
}
.nav-item {
display:flex;
align-items:center; 
gap:10px;
text-decoration:none;
color: #333;
padding: 5px 0;
}
.nav-item img {
width:30px;
height:30px;
}
.barra-nav a {
color: white;
font-size:1.1em;
text-decoration:none;
font-weight:bold;
transition:0.2s;
}
.barra-nav a:hover {
color: #000000;
transform:translateX(6px);
}
.user {
display:flex;
flex-direction:column;
align-items:center;
gap:8px;
}
.user img {
width:30px;
height:30px;
}
.titulo {
color: #ffffff;
background-color: #0056b3;
border-radius:10px;
width:50%;
max-width:100%;
margin:25px auto;
padding:10px;
display:flex;
align-items:center;
justify-content:center;
gap:20px;
}
.titulo img {
width:50px;
height:50px;
}
.frente {
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
margin-top:20px;
}
.card {
background-color: #ffffff;
width:180px;
padding:20px;
border-radius:15px;
text-align:center;
box-shadow:0 4px 8px rgba(0, 0, 0, 0.3);
transition:transform 0.2s ease, box-shadow 0.2s ease;
}
.card:hover {
transform:scale(1.05);
background-color: #0056b3;
}
.card img {
width:100px;
height:100px;
margin:20px 0;
}
h6 {
background-color: #333;
text-align:center;
padding:1.5rem;
color: #fff;
font-size:1.0rem;
margin: 0px;
}
footer {
position:relative;
width: 100%; 
height: 100px;
padding: 50px 0;
color: #ffffff;
text-align: center;
box-sizing: border-box;
}
@media (max-width: 760px) {
body {
margin-left:0;
margin-top:180px; 
}
.barra {
width:100%;
height:100px;
flex-direction: row;
justify-content:center;
padding:10px;
}
.barra-nav {
flex-direction:row; 
justify-content:center;
gap:10px;
padding:5px 8px;
font-size:0.9em;
text-align: center;
}
.login {
flex-direction:row;
align-items: center;
gap: 10px;
margin-bottom: 5px;

}
.logo {
width:60px;
height:60px;
}
.apresentaçao {
font-size:1.2em;
display: inline-block;
}
.titulo {
width:90%;
}
.frente {
flex-direction:column;
align-items:center;
}
.card {
width:50%;
max-width:300px;
}
.card img {
width:150px;
height:150px;
}
footer h6 {
margin-left:0;
width:90%;
}
}
