
header {
    grid-area: Cabeçalho;
    width: 100%;
    height: 100px;
    background-color: #004a9e;
    top: 0;
    position: fixed;

}

footer {
    grid-area: Rodapé;
    width: 100%;
    padding: 24px;
    background-color:  #333;
    margin-top: 20px;
    bottom: 0;
    position: fixed;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:  #f4f7f6;
    color: #fff;
    text-shadow: 2px 2px 4px rgb(113,113,113);
    display: grid;
    place-items: center;
    text-align: center;
    margin: 300px auto;
    grid-template-rows: 1fr;
    grid-template-columns: auto;
    grid-template-areas: "Cabeçalho"
                        "Conteúdo"
                        "Rodapé";
    grid-gap: 10px 10px;
}


input {
    width: 100%;
    height: 35px;
    font-size: medium;
    text-align: center;
    border-radius: 6px;
    border-style: none;
    box-shadow: 1px 1px 4px rgb(113, 113, 113);

}

p {
    font-size: large;
}

div label {
    font-size: large;
}

@media (min-height: 640px){

    header div h2 img {
        height: 60px;
    }

    h2 {
        text-align: center;
    }

    form {
    display: grid;
    width: 400px;
    max-width: 500px;
    height: 67vh;
    max-height: 550px;
    padding: 15px;
    border: 15px solid #0056b3;
    background-color:  #7AA3CD;
    box-shadow: 1px 1px 4px rgb(113, 113, 113);
    }
}

@media (max-height: 640px){

    header div h2 img {
        height: 60px;
    }

    h2 {
        text-align: center;
    }

    form {
    display: grid;
    width: 200px;
    max-width: 500px;
    height: 450px;
    padding: 15px;
    border: 15px solid #0056b3;
    background-color:  #7AA3CD;
    box-shadow: 1px 1px 4px rgb(113, 113, 113);
    }


}

div .button-enviar {
    border-radius: 6px;
    background-color: rgb(180, 92, 92);
    font-size: larger;
    color: #fff;
    border-style: none;
    width: 100%;
    padding: 10px;
    max-height: 60px;
    text-shadow: 2px 2px 4px rgb(113, 113, 113);
    box-shadow: 1px 1px 4px rgb(113, 113, 113);

}

div .button-enviar:hover {
    background-color: rgb(178, 61, 61);
}

div .button-cancelar {
    border-style: none;
    background-color: transparent;
    font-size: medium;
    color: rgb(180, 92, 92);
    text-shadow: 2px 2px 4px rgb(113, 113, 113);
}

