body {
font-family:Verdana, Geneva, Tahoma, sans-serif;
background-color: #f4f7f6;
color: #ffffff;
margin:0;
padding:0;
text-align:center;
max-width:100%;
overflow-x:hidden;
box-sizing:border-box;
}
header {
background-color: #004a9e;
position:fixed;
left:0;
top:0;
width:190px;
height:100vh;
z-index:999;
}
nav.barra-nav {
display:flex;
flex-direction:column;
align-items:center;
padding-top:25px;
gap:18px;
width:100%;
}
h1 {
color: #fff;
}
.login { 
display:flex;
flex-direction:column;
align-items:center;
gap:8px;
margin-bottom:15px;/
}
.apresentacao { 
font-size:1.5em;
font-weight:bold;
margin:0;
color: #fff;
}
nav.barra-nav a.nav-item {
color: #ffffff;
text-decoration:none;
font-weight:bold;
font-size:1.1em;
padding:10px;
width:90%;
border-radius:8px;
transition:0.3s;
}
nav.barra-nav a.nav-item:hover {
color: #000000;
transform:translateX(6px);
}
nav.barra-nav img {
width:40px;
height:40px;
}
nav a:hover {
color: #000000;
transform: translateX(6px);
}
nav img {
width:80px;
height:80px;
}
section {
background-color: #004a9e;
width:20%;
border-radius:3%;
padding-top:50px;
padding-bottom:40px;
position:absolute;
left:200px;
top:80px; 
}
section img{
width:100%;
}
section::after {
content:"Registro\A de\A Consumo";
text-align:center;
font-size:200%;
color: #ffffff;
font-weight:200;
white-space:pre-line;
}
form {
background-color: #004a9e;
padding:30px 30px;
border-radius:10px;
box-shadow:3px 3px 8px rgba(255, 255, 255, 0.3);
color: #ffffff;
width:50%;
margin-left:40%;
margin-top:80px;
}
fieldset { 
border:none;
margin-bottom:20px;
}
label {
font-weight:bold; 
font-size:1.1em; 
}
input, select {
width: 100%;
padding: 10px;
margin-top: 8px;
border: none;
border-radius: 8px;
background-color: #fdfdfd;
}
button {
display: block;
margin: 100px auto 0;
padding: 10px 10px;
background-color: #2697c0;
color: white;
border: none;
border-radius: 8px;
font-size: 1.2em;
cursor: pointer;
transition: 0.3s;
}
button:hover {
transform: scale(1.1);
background-color: #0056b3;
}
h6 {
background-color: #333;
text-align:center;
padding:1.5rem;
color: #fff;
font-size:0.9rem;
margin:0;
}
footer {
position: relative;
width: 100%; 
height: auto;
padding: 100px 0;
color: #ffffff;
text-align: center;
box-sizing: border-box;
}
@media(max-width: 1024px) {
header {
width:180px; 
}
body {
margin-left:180px;
}
.login img {
width:60px;
height:60px;
}
.apresentacao {
font-size:1.2em;
display: block;
}
section {
width:90%;
position:relative;
left: auto;
top: auto;
margin:20px auto; 
}
form {
width:90%;
margin:20px auto; 
}
}
@media (max-width:768px) {
body {
margin-left:0;
}
header {
position:relative;
width:100%;
height:auto;
padding-bottom: 15px;
}
nav.barra-nav {
flex-direction:row; 
flex-wrap:wrap;
justify-content:center;
gap:8px;
}
.login {
display:inline-block; 
}
nav.barra-nav a.nav-item {
width:auto;
padding:5px 8px;
font-size:0.9em;
text-align: center;
}
section {
width: 90%;
position: relative;
left: 0;
top: 0;
margin: 20px auto;
}
}
